.profile {
    width: 75% !important;
    padding-top: 25px;
}
.profile-header {
    border: solid;
    border-width: thin;
    border-color: lightgrey;
}
.profile-content {
    background:#fafafa;
}

/* Profile Header*/
.project-logo {
    max-width: 250px;
    min-height: 250px;
    object-fit: fill;
}

.profile-header-text{
    padding: 30px 0;
    position:relative;
    font-family: 'Montserrat', sans-serif;
}
.profile-header-name {
    padding-left: 50px;
    font-size: 45px;
}
.profile-header-caption {
    padding-left: 50px;
    font-size: 25px;
}
.profile-header-date-created {
    position:absolute;
    bottom:0;
    right:30px;
}

/* Profile Nav Bar*/
.profile-nav {
    font-family: 'Montserrat', sans-serif;
    color: grey;    
    background:#fafafa;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.profile-nav-bar {
    padding-bottom:0px !important;
    text-align: center;
    font-weight: bolder;
}

.profile-nav-bar-item{
    padding-top: 15px; 
    height: 100%;
}

.profile-nav-bar-item :hover{
    color: black;
    cursor: pointer;
    height: 100%;
    transform: scale(1.2);
}

/* Profile Body */
.profile-body {
    
    padding: 50px 100px 50px 100px;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    background: #fafafa;
    line-height: 2 ;
    font-family: 'Montserrat', sans-serif;
    overflow-y: scroll;
    height:calc(100vh - 530px);
}

/* Profile Footer */
.profile-footer {
    background: #fafafa;
    height:100px;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

/* Owner Details*/
.profile-owner {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.profile-owner img{
    border-radius: 50%;
    padding-left: 0px;
    max-width: 90px;
    width: 100%;
    
    max-height: 90px;
    height: 90px;
}

.profile-owner-name {
    display: flex;
    height: 100px;
     text-align: left; 
}

/* Social */
.social {
    height: 100%;
    position: relative;
    float: right;
    display: inline-grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 14px;
}

.profile-social-icon {
    padding-right: 10px;
    width:40px;
    height: 40px;
}